<div class="auth-container">
  <div class="auth-card">
    <h1>Sign in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username or Email Field -->
      <mat-form-field appearance="outline">
        <mat-label>Email or Username</mat-label>
        <input matInput formControlName="userName" />
        <mat-error *ngIf="loginForm.get('userName')?.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('userName')?.hasError('userName')">
          Enter a valid email or username
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passwordHash" type="password" />
        <mat-error *ngIf="loginForm.get('passwordHash')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Next
      </button>
    </form>
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
</div>
