.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f2f1;
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

p {
  text-align: center;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #0078d4;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
